*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40rem;
    height: 42rem;
    background-color: rgb(217, 217, 217);
    position: absolute;
    top : 1.5rem;
    border-radius: 20px;
    transition: all 0.7s;
    border: 2px solid white;
}
.container:hover{
    border-color: black;
}

.undercontainer{
    width: 39.8rem;
    height: 7rem;
    background-color: rgb(172, 171, 171);
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
}

.undercontainer h1{
    font-weight: bolder;
    font-size: 2.5rem;
    padding-top: 0.7rem;
}

#date{
    position: absolute;
    top: 3.8rem;
}

#limite{
    position: absolute;
    top: 5rem;
    left : 16.5rem;
    color: rgb(172, 171, 171);
    font-weight: bold;
    letter-spacing: 2px;
}

#alerticon{
    position: absolute;
    top : 5rem;
    left : 14.5rem;
    width: 25px;
    height: auto;
    color: rgb(172, 171, 171);

}
#svg{
    position: absolute;
    left: 5rem;
    top: 8rem;
    width: 2.5rem;
    height: auto;
    border: 4px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s;
}
.limite-atteinte {
    border-color: red !important;
    color: red !important;
    cursor: not-allowed;
}
#svg:hover{
    border: 4px solid white;
    color : white;
}
#task{
    position: absolute;
    left: 8.7rem;
    top: 8.3rem;
    font-size: 1.3rem;
}

.check{
    display: block;
    position: relative;
    left: 5.3rem;
    top: 4.2rem;
    margin-top: 0.5rem;
}

input[type="checkbox"]{
    width: 2rem;
    height: 2rem;
}
input[type="text"]{
    position: absolute;
    left: 2.7rem;
    height: 2rem;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    font-family: poppins;
    font-size: 1.2rem;
}
input[type="text"]:focus{
    outline: none;
    border-bottom: 1px solid rgb(182, 18, 18);
}

/* Ajoutez ces règles pour rendre le site responsive */

/* Pour les écrans de taille moyenne et plus petits */
@media screen and (max-width: 414px) {
    .container {
        width: 95%; /* Ajustez la largeur selon vos besoins */
    }
    
    .undercontainer {
        height: 8rem; /* Ajuste automatiquement la hauteur */
        width: 100%;
        padding: 1rem; /* Ajoutez un espace autour des éléments */
    }
    .undercontainer h1 {
        font-size: 2rem; /* Ajustez la taille de la police pour un écran plus petit */
    }

    #date, #limite, #alerticon {
        font-size: 0.8rem; /* Ajustez la taille de la police pour un écran plus petit */
    }

    #task{
        position: relative;
        top: -1.5rem;
        left: 10rem;
    }
    #svg {
        position: relative; /* Changez à "relative" pour permettre un flux normal sur de petits écrans */
        left: 7rem;
        top: 1rem;
        transform: none;
        width: 8%; /* Occupe 100% de la largeur du conteneur parent */
        text-align: center;
        margin-left: 0; /* Ajustez la marge gauche pour centrer */
    }

    .check {
        left: 5%; /* Alignez à gauche pour les écrans plus petits */
        top: 0rem; /* Ajoutez un espace entre les tâches pour une meilleure lisibilité */
    }
    #limite {
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.8rem; /* Ajustez la taille de la police pour un écran plus petit */
    }

    #alerticon {
        position: absolute;
        top: 12.3%;
        left: 31%;
        transform: translateX(-50%);
        width: 15px; /* Ajustez la taille de l'icône pour un écran plus petit */
        height: auto;
    }
}

